.body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.body .sidebar {
    flex-grow: 1;
    padding: 5px;
    border: thin solid grey;
    border-radius: 10px;
    height: 100%
}

.body .content {
    padding: 2px;
    background-color: lightblue;
    flex-grow: 10;
}